[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pycodestyle = "*"
psycopg2 = "*"
django-tempus-dominus = "*"
requests = "*"
python-decouple = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
