{% extends 'base.html' %}
{% load static %}
{% block title %} dashboard {% endblock %}
{% block content %}
{% include 'profile_navigation.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-5">
      <div class="row border rounded-2 p-5">
        <h5 class="text-primary">Welcome, {{ user.username }}</h5>
        <p class="fs-4">
          What are you doing today? <a href="{% url 'create-task' %}" class="text-decoration-none">Create a task</a>
        </p>
        <div class="d-flex p-3">
          <div class="d-flex justify-content-center align-items-center border border-primary rounded-circle border-3 mx-3" style="width: 200px; height: 200px;">
            <h1 class="fw-bold fs-7 text-primary">{{ xp }} XP</h1>
          </div>
          <div class="p-3 mx-4 list-group">

            <p class="list-group-item text-primary">
              You have <span class="fw-bold">{{ due_today }}</span> tasks due today
            </p>

            <p class="list-group-item text-primary">
              You have <span class="fw-bold">{{ overdue }} </span> tasks overdue
            </p>

            <p class="list-group-item text-primary">
              You have <span class="fw-bold">{{ in_progress }}</span> tasks In Progress
            </p>

            <p class="list-group-item text-primary">
              You have <span class="fw-bold">{{ not_started }}</span> tasks Not Started
            </p>

          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6 mt-5 p-5">
      <!-- Task list section -->
      <h5 class="text-primary">Upcoming Tasks</h5>
      <!-- Task List Content -->
      {% if tasks %}
      <div>
        <form method="POST" id="taskForm">
          {% csrf_token %}
          {% for task in tasks %}
          <div class="list-group">
            <li class="d-flex p-3 list-group-item">
              <span><input class="task-checkbox mx-3" name="completed_tasks" type="checkbox" value="{{ task.id }}" id="task_{{ task.id }}" {% if task.complete %}checked{% endif %} onchange="markTaskCompleted(this)"></span>
              <a href="{% url 'tasks' %}" class="text-decoration-none text-black">
                {{ task.title }}
              </a>
            </li>
          </div>
          {% endfor %}
        </form>
      </div>
      {% else %}
      <h3 class="my-0 mx-auto text-center">You have no tasks <span><a href="{% url 'create-task' %}"> create one</a> now</span></h3>
      {% endif %}
    </div>
  </div>
</div>
</div>
</div>
</div>
<script>
  function markTaskCompleted(checkbox) {
    var taskId = checkbox.value;
    var csrfToken = '{{ csrf_token }}';

    if (checkbox.checked) {
      $.ajax({
        url: '/tasks/mark-completed/' + taskId + '/',
        type: 'POST',
        data: { csrfmiddlewaretoken: csrfToken },
        success: function () {
          console.log('Task marked as completed');
          // You can perform additional actions here if needed
        },
        error: function (error) {
          console.log('Error marking task as completed', error);
          // Handle the error if necessary
          checkbox.checked = false; // Uncheck the checkbox if an error occurs
        }
      });
    } else {
      // Handle the case when the checkbox is unchecked if needed
    }
  }
</script>
{% endblock %}
