{% extends 'base.html' %}
{% load static %}
<!-- prettier-ignore -->
{% block title %}Create a Task{% endblock %}
<!-- prettier-ignore -->
{% block content %}
{% if user.is_authenticated %}
{% include 'profile_navigation.html' %}
{% endif %}
<div class="center">
  <form method="post" class="card">
    {% csrf_token %}
    <h2>Delete Task</h2>
    <p>Are you sure that you want to delete "{{task}}"?</p>
    <p class="d-flex justify-content-between">
      <input type="submit" class="_btn _btn-primary" value="Delete">
      <button href="{% url 'tasks'%}" class="btn btn-outline">Cancel</button>
    </p>
  </form>
</div>
{% endblock %}
