{% extends 'base.html' %}
{% load static %}
<!-- prettier-ignore -->
{% block title %}My Tasks{% endblock %}
<!-- prettier-ignore -->
{% block content %}
{% if user.is_authenticated %}
{% include 'profile_navigation.html' %}
{% endif %}
<div class="container-fluid">
  <div class="row">
    <!-- Tasks Table  -->
    <div class="col-md-8">
      <section>
        <div class="card">
          <div class="card-body">
            <h5 class="text-primary fs-7 fw-bold text-center">Here are your tasks</h5>
            {% if tasks %}
            <div class="table-responsive">
              <table class="table align-middle mb-0 bg-light">
                <thead class="bg-light">
                  <tr>
                    <th></th>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Due Date</th>
                    <th>Days Remaining</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                  <tr>
                    <td><input type="checkbox" value="{{ task.id }}" id="task_{{ task.id }}" {% if task.complete %}checked{% endif %}{% if task.complete %}disabled{% endif %}onchange="markTaskCompleted(this)"></td>
                    <td>{{ task.title }}</td>
                    <td>{% if task.status == "P" %}<span class="badge rounded-pill d-inline bg-primary">Not Started</span>{% elif task.status == "C" %}<span class="badge rounded-pill d-inline bg-success">Completed</span>{% else %}<span class="badge rounded-pill d-inline bg-warning">In Progress</span>{% endif %}</td>
                    <td>{% if task.priority == "H" %}<span class="badge rounded-pill d-inline bg-danger">High</span>{% elif task.priority == "M" %}<span class="badge rounded-pill d-inline bg-warning">Medium</span>{% else %}<span class="badge rounded-pill d-inline bg-primary">Low</span>{% endif %}</td>
                    <td>{{ task.due_date|date:"F d, Y" }}</td>
                    <td>{{ task.days_until_due }}</td>
                    <td>
                      <div class="tasks-control">
                        <button type="button" class="_btn _btn-primary btn-floating btn-lg" data-mdb-toggle="modal" data-mdb-target="#update-task-modal-{{ task.id }}">
                          <i class="bi bi-pen-fill pe-none"></i>
                        </button>
                        <button class="_btn" type="button" data-mdb-toggle="modal" data-mdb-target="#delete-task-modal-{{ task.id }}"><i class="bi bi-trash-fill pe-none"></i></button>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            {% else %}
            <p class="text-center">You have no tasks yet <a href="#create-task" class="text-decoration-none text-primary">create</a> one or view your <a href="{% url 'dashboard' %}" class="text-primary">dashboard</a></p>
            {% endif %}
          </div>
        </div>

      </section>
    </div>
    <!-- Create Task Form -->
    <div class="col-md-4">
      <section id="create-task">
        <div class="card">
          <div class="card-body">
            <h4 class="text-primary card-title text-center">Create a task</h4>
            <form method="POST" action="{% url 'create-task' %}">
              {% csrf_token %}
              <!-- Title -->
              <div class="form-group mb-4">
                <label for="title{{ task.id }}">Title:</label>
                <input type="text" class="form-control" id="title{{ task.id }}" name="title" value="{{ task.title }}">
              </div>
              <!-- Due Date -->
              <div class="form-group mb-4">
                <label for="due_date{{ task.id }}">Due Date:</label>
                <input type="date" class="form-control" id="due_date{{ task.id }}" name="due_date" value="{{ task.due_date }}">
              </div>
              <!-- Status -->
              <div class="form-group mb-4">
                <label for="status{{ task.id }}">Status:</label>
                {{ form.status }}
              </div>
              <!-- Priority -->
              <div class="form-group mb-4">
                <label for="priority{{ task.id }}">Priority:</label>
                {{ form.priority }}
              </div>
              {% if form.errors or form.non_field_errors %}
              <div class="mb-3 p-6 bg-danger text-white">
                {% for field in form %}
                {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
              </div>
              {% endif %}
              <!-- Submit button -->
              <button type="submit" class="_btn _btn-primary">Create Task</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{% for task in tasks %}
{% include 'modal.html' %}
{% endfor %}

<script>
  function markTaskCompleted(checkbox) {
    var taskId = checkbox.value;
    var csrfToken = '{{ csrf_token }}';

    if (checkbox.checked) {
      $.ajax({
        url: '/tasks/mark-completed/' + taskId + '/',
        type: 'POST',
        data: { csrfmiddlewaretoken: csrfToken },
        success: function () {
          console.log('Task marked as completed');
          // Disable the checkbox and update the task item status
          var taskItem = checkbox.closest('.task-item')
          taskItem.classList.add('is_completed');
          checkbox.disabled = true;
          // Check the corresponding task checkbox in the tasks page
          var tasksPageCheckbox = document.getElementById('task_' + taskId);
          if (tasksPageCheckbox) {
            tasksPageCheckbox.checked = true;
          }
        },
        error: function (error) {
          console.log('Error marking task as completed', error);
          // Handle the error if necessary
          checkbox.checked = false; // Uncheck the checkbox if an error occurs
        }
      });
    } else {
      // Handle the case when the checkbox is unchecked if needed
    }
  }
</script>



{% endblock %}
