<header class="container d-flex align-items-center mb-auto">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/logos/png/logo-no-background.png' %}" alt="logo-white" style="width: 100px; height: auto" />
        </a>
      </div>
      <div class="ms-auto">
        <ul class="nav nav-pills">
          <!-- prettier-ignore -->
          {{% if user.is_authenticated %}}
          <li class="nav-item">
            <a href="{% url 'home_page' %}" id="index-login-btn" class="nav-link px-2" style="color: #0088ff">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" id="index-login-btn" class="nav-link px-2" style="color: #0088ff">Features</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22" alt="Portrait of a Woman" loading="lazy" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" id="index-register-btn" class="nav-link px-2" style="color: #0088ff">Logout</a>
          </li>
          {{% else %}}
          <li class="nav-item">
            <a href="{% url 'home_page' %}" id="index-login-btn" class="nav-link px-2" style="color: #0088ff">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" id="index-login-btn" class="nav-link px-2" style="color: #0088ff">Features</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'login' %}" id="index-register-btn" class="nav-link px-2" style="color: #0088ff">Login</a>
          </li>
          <li class="nav-item">
            <a href="#" id="index-register-btn" class="nav-link px-2" style="color: #0088ff">Contact</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

</header>
