{% extends 'base.html' %}
<!-- prettier-ignore -->
{% load static %}
<!-- prettier-ignore -->
{% block title %}Login{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- Navigation -->
<div class="container-fluid mt-auto mb-0">
  {% include 'base_nav.html' %}
</div>
<div class="container-fluid py-3" style="min-height: 95vh">
  <div class="row d-flex justify-content-center align-items-center">
    <!-- Login Background image -->
    <div class="col-md-6">
      <img src="{% static 'images/resources/backgrounds/login-image.png' %}" class="w-100 h-auto" alt="login background">
      <a href="https://lovepik.com/images/png-internet-security.html" class="text-decoration-none">Internet Security Png vectors by Lovepik.com</a>
    </div>

    <!-- Login Container -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="card" style="max-width: 500px">
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <h5 class="card-title text-primary text-center">Login</h5>
            <!-- Email input -->
            <div class="col-md-6 form-outline mb-4">
              <div class="form-group postion-relative">
                <label class="form-label" for="firstName">Username <span class="text-danger">*</span></label>
                {{ form.username }}
              </div>
            </div>
            {% if form.username.errors %}
            {% for error in form.username.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <!-- Password input -->
            <div class="col-md-6 form-outline mb-4">
              <div class="form-group postion-relative">
                <label class="form-label" for="password">Password <span class="text-danger">*</span></label>
                {{ form.password }}
              </div>
            </div>
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <!-- 2 column grid layout -->
            <div class="row mb-4">
              <div class="col-md-6 d-flex justify-content-center">
                <!-- Password Reset link -->
                <a href="{% url 'password-reset' %}">Forgot password?</a>
              </div>
            </div>
            <!-- Submit button -->
            <button type="submit" class="_btn _btn-primary btn-block mb-4 text-white">Sign in</button>
            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="{% url 'register' %}" id="register-link">Register</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
