{% extends 'base.html' %}
<!-- prettier-ignore -->
{% load static %}
<!-- prettier-ignore -->
{% block title %}Register{% endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- Navigation -->
<div class="container-fluid mt-auto mb-0">
  {% include 'base_nav.html' %}
</div>
<div class="container-fluid py-3" style="min-height: 95vh">
  <div class="row d-flex justify-content-center align-items-center">
    <!-- Register Background image -->
    <div class="col-md-6">
      <img src="{% static 'images/resources/backgrounds/register-image.jpg' %}" class="w-100 h-auto" alt="register background">
    </div>
    <!-- Register Form -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="card" style="max-width: 450px">
        <div class="card-body">
          <form class="row" method="POST">
            {% csrf_token %}
            <h5 class="card-title text-center text-primary">Register</h5>

            <!-- First Name input -->
            <div class="col-md-6 form-outline mb-4">
              <div class="form-group postion-relative">
                <label class="form-label" for="firstName">First Name <span class="text-danger">*</span></label>
                {{ form.first_name }}
              </div>
            </div>
            {% if form.first_name.errors %}
            <!-- prettier-ignore -->
            {% for error in form.first_name.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            <!-- prettier-ignore -->
            {% endif %}

            <!-- Last Name input -->

            <div class="col-md-6 form-outline mb-4">
              <div class="form-group form-outline position-relative">
                <label class="form-label" for="lastName">Last Name <span class="text-danger">*</span></label>
                {{ form.last_name }}
              </div>
              <!-- <input type="text" name="fullname" id="registerLastName" class="form-control" required /> -->
            </div>
            {% if form.last_name.errors %}
            <!-- prettier-ignore -->
            {% for error in form.last_name.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            <!-- prettier-ignore -->
            {% endif %}

            <!-- Username input -->
            <div class="col-md-12 form-outline mb-4">
              <div class="form-group form-outline position-relative">
                <label class="form-label" for="registerUsername">Username <span class="text-danger">*</span></label>
                <!-- <input type="text" name="username" id="registerUsername" class="form-control" required /> -->
                {{ form.username }}
              </div>
            </div>
            {% if form.username.errors %}
            <!-- prettier-ignore -->
            {% for error in form.username.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            <!-- prettier-ignore -->
            {% endif %}

            <!-- Email input -->
            <div class="col-md-12 form-outline mb-4">
              <div class="form-group form-outline position-relative">
                <label class="form-label" for="registerEmail">Email <span class="text-danger">*</span></label>
                {{ form.email }}
                <!-- <input type="email" name="email" id="registerEmail" class="form-control" required /> -->
              </div>
            </div>
            {% if form.email.errors %}
            <!-- prettier-ignore -->
            {% for error in form.email.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            <!-- prettier-ignore -->
            {% endif %}

            <!-- Password input -->
            <div class="col-md-12 form-outline mb-4">
              <div class="form-group form-outline position-relative">
                <label class="form-label" for="registerPassword">Password <span class="text-danger">*</span></label>
                <!-- <input type="password" name="register_password" id="registerPassword" class="form-control" required /> -->
                {{ form.password1 }}
              </div>
            </div>
            {% if form.password1.errors %}
            <!-- prettier-ignore -->
            {% for error in form.password1.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            <!-- prettier-ignore -->
            {% endif %}

            <!-- Repeat Password input -->
            <div class="col-md-12 form-outline mb-4">
              <div class="form-group form-outline position-relative">
                <label class="form-label" for="registerRepeatPassword">Confirm password <span class="text-danger">*</span></label>
                <!-- <input type="password" name="repeat_password" id="registerRepeatPassword" class="form-control" required /> -->
                {{ form.password2 }}
              </div>
            </div>
            {% if form.password2.errors %}
            <!-- prettier-ignore -->
            {% for error in form.password2.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            <!-- prettier-ignore -->
            {% endif %}

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              {{ form.check }}
              <label class="form-check-label" for="registerCheck">
                I have read and agree to the <a href="#">terms</a> <span class="text-danger">*</span>
              </label>
              <!-- <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              id="registerCheck"
              aria-describedby="registerCheckHelpText"
              required
            /> -->
            </div>
            {% if form.check.errors %}
            <!-- prettier-ignore -->
            {% for error in form.check.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            <!-- prettier-ignore -->
            {% endif %}

            <!-- Submit button -->
            <button type="submit" class="_btn _btn-primary btn-block mb-3">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
